html,body{
    margin: 0;
}
.header{
    height: 120px;
    background-image: linear-gradient(0,#fe6433,#f53e2d);
}
.header__nav1{
    display: flex;
    justify-content: space-between;
}
.header__list{
    list-style: none;
    padding-left: 0;
    display: flex;
}
.header__item{
    margin: 0px 8px;
    position: relative;
    min-height: 24px;
}
.header__item-user{
    display: flex;
    justify-items: center;
    position: relative;
}
.header__user-img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,0.3);
}
.header__user-name{
    font-size: 1.4rem;
    margin-left: 8px;
    font-weight: 400;
}
.header__user-menu{
    position: absolute;
    z-index: 1;
    padding-left: 0;
    top: 100%;
    right: 0;
    width: 90px;
    border-radius: 2px;
    background-color: var(--white-color) ;
    list-style: none;
    box-shadow: 0 1px 2px #d1d1d1;
    display: none;
}
.header__item-user:hover .header__user-menu{
    display: block;
}
.header__user-menu::before{
    content: "";
    border-width: 7px 12px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 10px;
    top:-13px;
}
.header__user-menu::after{
    content: "";
    display: block;
    position: absolute;
    top:-8px;
    right: 0;
    width: 70%;
    height: 8px;
}
.header__user-item a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 5px 13px;
    display: block;
}
.header__user-item a:first-child{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.header__user-item a:last-child{
    border-bottom-left-radius:2px;
    border-bottom-right-radius: 2px;
}
.header__user-item a:hover{
    background-color: #ededed;
}
.header__item,
.header__item-link{
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 200;
}
.header__item,
.header__item-link,
.header__nav1-icon-link{
    display: inline-flex;
    align-items: center;
}
.header__item:hover,
.header__nav1-icon-link:hover,
.header__item-link:hover{
    cursor: pointer;
    color: rgb(189, 187, 186);
}
.header__nav1-icon-link{
    color: var(--white-color);
    text-decoration: none;
}
.header__nav1-icon{
    font-size: 1.6rem;
    margin: 0px 4px;
}
.header__nav1-pointer{
    cursor: text;
    color: var(--white-color);
    text-decoration: none;
}
.header__nav1-pointer-1{
    cursor: pointer;
}
.header__notify {
    position: absolute;
    z-index: 1;
    top: 150%;
    right: 0;
    width: 420px;
    border: 1px solid #d3d3d3;
    background-color: var(--white-color);
    cursor: default;
    transform-origin: top right;
    animation: headernotify1 ease-in 0.3s;
    display: none;
}
.header__notify::before{
    content:"";
    border: 20px solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 12px;
    top: -30px;
}
.header__notify::after{
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: -16px;
    width: 120px;
    height: 20px;
}
@keyframes headernotify1{
    from{
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
.header__item-notif:hover .header__notify{
    display: block;
}
.header__notify-header{
    height: 40px;
    background-color: var(--white-color);
}
.header__notify-header h3{
    color: #666;
    margin: 0px 0px 0px 15px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;

}
.header__notify-list{
    padding-left: 0;
}
.header__notify-item{
    display: flex;
}
.header__notify-item:hover{
    background-color: #e9e3e3;
}
.header__notify-item--readed{
    background-color: rgba(238, 77, 45, 0.05);
}
.header__notify-link{
    display: flex;
    padding: 10px;
    width: 100%;
    text-decoration: none;
    background-color: rgba(238, 77, 45, 0.05);
}
.header__notify-img{
    width: 45px;
    object-fit: contain;
}
.header__notify-info{
    margin-left: 10px;
}
.header__notify-name{
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.6rem;
}
.header__notify-descriotion{
    display: block;
    font-size: 1.2rem;
    line-height: 1.3rem;
    color: #746f6e;
}
.header__notify-footer{
    display: flex;
}
.header__notify-footer-atn{
    text-decoration: none;
    color: var(--text-color);
    padding: 8px 30px;
    margin: auto;
    font-size: 1.4rem;
    font-weight: 400;
}
.auth-form{
    width: 500px;
}
.auth-form__container{
    padding: 0 32px;
}
.auth-form__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}
.auth-form__heading{
    font-size: 2.1rem;
    font-weight: 400;
    color: var(--text-color);
}
.auth-form__switch-atn{
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--primary-color);
    cursor: pointer;
}
.auth-form__input{
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0px 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    outline: none;
}
.auth-form__input:focus{
    border-color: #888;
}
.auth-form__aside{
    margin-top: 17px;
}
.auth-form__controls{
    display: flex;
    justify-content: flex-end;
    margin-top: 80px;
}
.auth-form__controls-back{
    margin-right: 8px;
}
.auth-form__social{
    width: 100%;
    background-color: #f2efef;
    padding: 12px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}
.auth-form__social-icons{
    font-size: 1.8rem;
}
.auth-form__social--facebook{
    background-color: #4f69ff;
    color: var(--white-color);
}
.auth-form__social--facebook
.auth-form__social-icons{
    color: var(--white-color);
}
.auth-form__social--google{
    color:#666;
    background-color: var(--white-color);
}
.auth-form__help{
    display: flex;
    justify-content: flex-end;
}
.auth-form__help-link{
    font-size: 1.4rem;
    text-decoration: none;
}
.auth-form__help-separate{
    display: block;
    height: 18px;
    margin: 0 16px;
    border-left: 1px solid var(--border-color);
}
.auth-form__help-forgot{
    color: var(--primary-color);
}
.header-with-search{
    height: 64px;
    display: flex;
}
.header__cart-icon{
    width: 30px;
    font-size: 35px;
    color: var(--white-color);
    margin-left: -50px;
    cursor: pointer;
}
.header__search{
    flex: 1;
    max-width: 90%;
    height: 35px;
    margin: 0 100px;
    background-color: var(--white-color);
    border-radius: 2px;
    display: flex;
    align-items: center;
}
.header__search-input-wrap{
    flex:1;
    height: 100%;
    position: relative;
}
.header__search-input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.3rem;
    color: var(--text-color);
    padding: 0px 16px;
    border-radius: 2px;
}
.header__search-select{
    border-left: 1px solid #ccc;
    padding-left: 16px;
}
.header__search-select-label{
    font-size: 1.4rem;
    color: var(--text-color);
}
.header__search-select-icon{
    font-size: 1.4rem;
    color: #4a4a4a;
    margin: 0 16px;
    position: relative;
}
.header__search-atn{
    background-color: var(--primary-color);
    border: none;
    height: 30px;
    width: 55px;
    border-radius: 3px;
    margin-right: 4px;
    outline: none;
}
.header__search-atn:hover{
    cursor: pointer;
    background-color: #f7683d;
}
.header__search-icon{
    font-size: 1.6rem;
    color: var(--white-color);
}
.header__search-input:focus ~ .header__search-history{
    display: block;
}
.header__search-history{
    position: absolute;
    top:100%;
    left: 0;
    width: 1090px;
    background-color: var(--white-color);
    border-radius: 3px;
    box-shadow: 0 0 3px #666;
    display: none;
    overflow: hidden;
    z-index: 1;
}
.header__search-history-heading{
    margin: 6px 12px;
    font-size: 1.6rem;
    color: #999;
    font-weight: 400;
}
.header__search-history-list{
    padding-left: 0;
    list-style: none;
    margin:8px 0 0;
}
.header__search-history-item{
    height: 38px;
    padding: 0 12px;
}
.header__search-history-item:hover{
    background-color: #fafafa;
}
.header__search-history-item a{
    text-decoration: none;
    font-size: 1.4rem;
    line-height: 38px;
    color: var(--text-color);
    display: block;
}
.shop__container{
    background-color: #f5f5f5;
}
.shop__content{
    padding-top: 45px;
}
.category{
    background-color: var(--white-color);
    border-radius: 2px;
}
.category__heading{
    color: var(--text-color);
    font-size: 1.7rem;
    margin-top: 0;
    padding: 8px 16px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
}
.category-list{
    padding: 0 0 12px 0;
    list-style: none;
}
.category-item__link{
    position: relative;
    font-size: 1.4rem;
    color:var(--text-color);
    text-decoration: none;
    padding: 10px 18px;
    display: block;
    right: 0;
    transition: right linear 0.2s;
}
.category-item__link:hover{
    color: var(--primary-color);
    right: -4px;
}
.home-filter{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: 2px;
    background-color: rgba(0,0,0,0.08);

}
.home-filter__label{
    font-size: 1.4rem;
    margin-right: 16px;
    color: #555;
}
.home-filter__atn{
    margin-right: 12px;
}
.home-filter__page{
    display: flex;
    align-items: center;
    margin-left: auto;
}
.home-filter__page-number{
    font-size: 1.5rem;
    color: var(--text-color);
    margin-right: 22px;
}
.home-filter__page-current{
    color: var(--primary-color);
}
.home-filter__page-control{
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
}
.home-filter__page-atn{
    flex:1;
    display: flex;
    background-color: var(--white-color);
    text-decoration: none;
}
.home-filter__page-atn--disabled{
    cursor: default;
    background-color: #f9f9f9;
}
.home-filter__page-atn--disabled.home-filter__page-icon{
    color:#ccc;
}
.home-filter__page-atn:first-child{
    border-right: 1px solid #eee;
}
.home-filter__page-icon{
    font-size: 1.4rem;
    margin:auto;
    color: #555;
}
.home-product{
    margin-bottom: 20px;
}
.home-product.active{
    display: none;
}
.home-product-item{
    position: relative;
    margin-top: 15px;
    background-color: var(--white-color);
    padding-bottom: 15px;
    display: block;
    border-radius: 2px;
    box-shadow: 0 0.1rem 0.2rem 0 rgba(0,0,0,0.1);
    transition: tranform linear 0.2s;
    will-change: tranform;
}
.home-product-item:hover{
    transform: translateY(-1px);
    box-shadow: 0 0.1rem 30px 0 rgba(0,0,0,0.05);
}
.home-product-item__img{
    padding-top: 100%;
    background-size: cover;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.home-product-item__name{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    height: 3.6rem;
    margin: 10px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
}
.home-product-item__price{
    display: flex;
    margin-left: 10px;
}
.home-product-item__price-old{
    font-size: 1.3rem;
    color:#666;
    text-decoration: line-through;
}
.home-product-item__price-current{
    font-size: 1.6rem;
    color:var(--primary-color);
    margin-left: 10px;
}
.home-product__price-buy{
    font-size: 100%;
    display: block;
    margin: auto;
    position: relative;
    top: 8px;
}
.home-product__price-buy:hover{
    cursor: pointer;
    border-radius: 2px;
    background-color: var(--primary-color);
}
.home-product__pagination-list{
    margin-top: 40px;
    margin-bottom: 30px;
}
.footer{
    border-top: 4px solid var(--primary-color);
}
.footer-list{
    padding-left: 0;
    list-style: none;
}
.footer-item__link{
    text-decoration: none;
    font-size: 1.6rem;
    color:#666;
    display: block;
    padding: 9px 0;
}
.footer-item__link:hover{
    color: var(--primary-color);
}
.footer-bottom{
    background-color: #f5f5f5;
    min-height:40px;
    display: block;
    padding-top: 13px;
}
.footer-text{
    font-size: 17px;
}
.modal.indival{
    display:none;
}

